.QuizReview {
    margin-top: 80px;
}
.QuizReview h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 30px;
}
.QuizReview a {
    margin-right: 20px;
}
.QuizReview .quiz-selector {
    margin-bottom: 20px;
}