.Blog {
    margin-top: 80px;
}
.Blog h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 30px;
}
.Blog a {
    margin-right: 20px;
}
.Blog .resource-selector {
    margin-bottom: 20px;
}

.search-form {
    margin-top: 20px;
}

.Blog .search-form input {
    width: 300px;
    display: inline;
}

.Blog .search-form button {
    display: inline;
    margin-left: 20px;
}